<br>

<p> A left leg is added causing your neck to snap.  Life fades from your body.  </p>

<h4>YOU ARE DEAD! </h4>

<p> You have failed at hangman.  Your pathetic bloated bug eaten corspe dangles on it noose being pushed around gently by a cool breeze. </p>

<a href='/'>Return to main page.</a>
